<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139491332086-9bu2cvqkq0nlm7iregal92jq0oe19grv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139491332086-9bu2cvqkq0nlm7iregal92jq0oe19grv</string>
	<key>API_KEY</key>
	<string>AIzaSyDRcUaWrBSuLAydaUVg3Tr2WrEFcIZoRaM</string>
	<key>GCM_SENDER_ID</key>
	<string>139491332086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.regionalportal.app</string>
	<key>PROJECT_ID</key>
	<string>hikoneapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hikoneapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139491332086:ios:d3b101e2722983c9a6c1d7</string>
</dict>
</plist>